@{
    Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.EngineerMachine

<main>
    <div class="page-ttl">
        <h3>Engineer: @Model.Engineer.EngineerName</h3>
        <ul class="nav">
            <li>@Html.ActionLink("Edit", "Edit", new { id = @Model.EngineerId })</li>
            <li>@Html.ActionLink("Delete", "Delete", new { id = @Model.EngineerId })</li>
        </ul>
    </div>
    <section>
        @if (ViewBag.MachineId == null)
        {
            <p>There are no machines added yet.</p>
            <p>@Html.ActionLink("Add Machine", "Create", "Machines")</p>
        }
        else
        {
            @using (Html.BeginForm("AddMachine", "Engineers", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.EngineerId)
                <div class="form-entry">
                    @Html.Label("Select machine")
                    @Html.DropDownList("MachineId")
                </div>
                <input type="submit" value="Add Machine" />
            }
        }
    </section>
    <section>
        @if (@Model.Engineer.Machines.Count == 0)
        {
            <p>This engineer is not licensed for any machines yet.</p>
        }
        else
        {
            <ul class="display-list list-2">
                @foreach (EngineerMachine machine in Model.Engineer.Machines)
                {
                    <li>
                        @Html.ActionLink(@machine.Machine.MachineName, "Details", "Machines", new { id = @machine.MachineId })
                        @using (Html.BeginForm("RemoveMachine", "Engineers", FormMethod.Post))
                        {
                            @Html.Hidden("joinId", @machine.EngineerMachineId)
                            <input type="submit" value="Delete" />
                        }
                    </li>
                }
            </ul>
        }
    </section>
</main>